<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godot.godotandroidholoplugin">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotAndroidHoloPlugin"
            android:value="com.godot.godotandroidholoplugin.GodotAndroidHoloPlugin" />

    </application>

</manifest>